In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
from time import sleep
import datetime
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
from googletrans import Translator
import collections

In [2]:
df_yelp = pd.read_csv('/Users/chintan.desai/Documents/Chintan/DataScience/My_Mini_Projects/yelp.csv')

In [3]:
df_yelp.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

In [4]:
c = collections.Counter(df_yelp.stars)

In [5]:
c

Counter({1: 749, 2: 927, 3: 1461, 4: 3526, 5: 3337})

In [6]:
df_yelp['Sentiment'] = [1 if x > 4 else 0 for x in df_yelp.stars]

In [7]:
df_yelp.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny,Sentiment
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0,1
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0,1
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0,1
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0,1

In [9]:
df_yelp['text length'] = df_yelp['text'].apply(len)
df_yelp.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny,Sentiment,text length
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0,1,889
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0,1,1345
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0,0,76
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0,1,419
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0,1,469

In [10]:
df_yelp.describe()

,stars,cool,useful,funny,Sentiment,text length
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,3.777500,0.876800,1.409300,0.701300,0.333700,710.738700
std,1.214636,2.067861,2.336647,1.907942,0.471558,617.399827
min,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,3.000000,0.000000,0.000000,0.000000,0.000000,294.000000
50%,4.000000,0.000000,1.000000,0.000000,0.000000,541.500000
75%,5.000000,1.000000,2.000000,1.000000,1.000000,930.000000
max,5.000000,77.000000,76.000000,57.000000,1.000000,4997.000000

In [11]:
X, y = (df_yelp['text'].values, df_yelp['Sentiment'].values)

In [12]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
tk = Tokenizer(lower = True)
tk.fit_on_texts(X)
X_seq = tk.texts_to_sequences(X)
X_pad = pad_sequences(X_seq, maxlen=4997, padding='post')

Using TensorFlow backend.
//anaconda/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: compiletime version 3.6 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.5
  return f(*args, **kwds)

In [13]:
X[1]

'I have no idea why some people give bad reviews about this place. It goes to show you, you can please everyone. They are probably griping about something that their own fault...there are many people like that.\n\nIn any case, my friend and I arrived at about 5:50 PM this past Sunday. It was pretty crowded, more than I thought for a Sunday evening and thought we would have to wait forever to get a seat but they said we\'ll be seated when the girl comes back from seating someone else. We were seated at 5:52 and the waiter came and got our drink orders. Everyone was very pleasant from the host that seated us to the waiter to the server. The prices were very good as well. We placed our orders once we decided what we wanted at 6:02. We shared the baked spaghetti calzone and the small "Here\'s The Beef" pizza so we can both try them. The calzone was huge and we got the smallest one (personal) and got the small 11" pizza. Both were awesome! My friend liked the pizza better and I liked the calzone better. The calzone does have a sweetish sauce but that\'s how I like my sauce!\n\nWe had to box part of the pizza to take it home and we were out the door by 6:42. So, everything was great and not like these bad reviewers. That goes to show you that  you have to try these things yourself because all these bad reviewers have some serious issues.'

In [14]:
X_pad[1]

array([ 3, 21, 72, ...,  0,  0,  0], dtype=int32)

In [18]:
dictionary_mapped = tk.word_index

In [25]:
dictionary_mapped.get('no')

72

In [23]:
X_seq[1]

[3,
 21,
 72,
 723,
 285,
 56,
 101,
 174,
 179,
 371,
 55,
 17,
 27,
 9,
 821,
 5,
 600,
 16,
 16,
 62,
 650,
 324,
 19,
 24,
 262,
 13248,
 55,
 163,
 12,
 45,
 398,
 1872,
 33,
 24,
 180,
 101,
 35,
 12,
 11,
 136,
 808,
 13,
 275,
 2,
 3,
 568,
 28,
 55,
 141,
 573,
 1328,
 17,
 556,
 606,
 9,
 7,
 93,
 753,
 66,
 87,
 3,
 267,
 10,
 4,
 606,
 653,
 2,
 267,
 20,
 58,
 21,
 5,
 162,
 1263,
 5,
 46,
 4,
 927,
 15,
 19,
 178,
 1120,
 32,
 596,
 51,
 1,
 679,
 421,
 65,
 48,
 509,
 419,
 311,
 20,
 30,
 596,
 28,
 141,
 7759,
 2,
 1,
 493,
 133,
 2,
 91,
 54,
 212,
 922,
 324,
 7,
 41,
 802,
 48,
 1,
 1779,
 12,
 596,
 89,
 5,
 1,
 493,
 5,
 1,
 273,
 1,
 199,
 30,
 41,
 25,
 31,
 79,
 20,
 1596,
 54,
 922,
 268,
 20,
 312,
 60,
 20,
 266,
 28,
 392,
 9550,
 20,
 901,
 1,
 957,
 2183,
 2820,
 2,
 1,
 195,
 1465,
 1,
 292,
 128,
 26,
 20,
 62,
 198,
 98,
 83,
 1,
 2820,
 7,
 252,
 2,
 20,
 91,
 1,
 5819,
 43,
 994,
 2,
 91,
 1,
 195,
 902,
 128,
 198,
 30,
 217,
 13,
 275,
 399,
 1,
 128,
 109,
 2,
 3,
 399,
 1,
 2820,
 109,
 1,
 2820,
 361,
 21,
 4,
 13249,
 145,
 15,
 236,
 125,
 3,
 35,
 13,
 145,
 20,
 23,
 5,
 878,
 364,
 6,
 1,
 128,
 5,
 148,
 9,
 200,
 2,
 20,
 30,
 39,
 1,
 404,
 71,
 392,
 6583,
 26,
 170,
 7,
 34,
 2,
 22,
 35,
 250,
 179,
 2113,
 12,
 821,
 5,
 600,
 16,
 12,
 16,
 21,
 5,
 98,
 250,
 214,
 709,
 81,
 37,
 250,
 179,
 2113,
 21,
 56,
 1536,
 1443]

In [26]:
ship = collections.OrderedDict(dictionary_mapped)

In [30]:
ship.get('people')

101

In [32]:
X_pad[1:10]

array([[    3,    21,    72, ...,     0,     0,     0],
       [   74,     1,  1408, ...,     0,     0,     0],
       [13250, 13251,     2, ...,     0,     0,     0],
       ...,
       [ 1549,     3,   107, ...,     0,     0,     0],
       [  158,   142,    10, ...,     0,     0,     0],
       [ 6200,  1565,   210, ...,     0,     0,     0]], dtype=int32)

In [33]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_pad, y, test_size = 0.25, random_state = 1)

In [34]:
batch_size = 64
X_train1 = X_train[batch_size:]
y_train1 = y_train[batch_size:]
X_valid = X_train[:batch_size]
y_valid = y_train[:batch_size]

In [35]:
from keras.models import Sequential
from keras.layers import Embedding, LSTM, Dense, Dropout
vocabulary_size = len(tk.word_counts.keys())+1
max_words = 4997
embedding_size = 100
model = Sequential()
model.add(Embedding(vocabulary_size, embedding_size, input_length=max_words))
model.add(LSTM(200))
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

WARNING:tensorflow:From //anaconda/lib/python3.5/site-packages/keras/backend/tensorflow_backend.py:1192: calling reduce_sum (from tensorflow.python.ops.math_ops) with keep_dims is deprecated and will be removed in a future version.
Instructions for updating:
keep_dims is deprecated, use keepdims instead
WARNING:tensorflow:From //anaconda/lib/python3.5/site-packages/keras/backend/tensorflow_backend.py:1299: calling reduce_mean (from tensorflow.python.ops.math_ops) with keep_dims is deprecated and will be removed in a future version.
Instructions for updating:
keep_dims is deprecated, use keepdims instead

In [37]:
model.fit(X_train1,y_train1,validation_data=(X_valid,y_valid),batch_size=batch_size,epochs=10)

Train on 7436 samples, validate on 64 samples
Epoch 1/10
7436/7436 [==============================] - 3390s - loss: 0.6427 - acc: 0.6604 - val_loss: 0.5418 - val_acc: 0.7812
Epoch 2/10
7436/7436 [==============================] - 3221s - loss: 0.6391 - acc: 0.6650 - val_loss: 0.5541 - val_acc: 0.7812
Epoch 3/10
6272/7436 [========================>.....] - ETA: 580s - loss: 0.6394 - acc: 0.6653

KeyboardInterrupt: